.container {
  font-family: Kalam;
  max-width: 100%;
}
.content {
  max-width: 100%;
  margin: 30px auto;
  border: 3px solid blue;
  border-radius: 100px;
}
h1 {
  text-align: center;
  font-weight: 700;
  font-size: 50px;
  margin-top: 40px;
}
h2 {
  text-align: center;
  font-weight: 400;
  font-size: 35px;
  margin-bottom: 40px;
}
ul {
  list-style: none;
}
.first-column li {
  margin-left: 20px;
}
.current-time {
  margin-left: 200px;
}
.current-temperature {
  font-weight: 400;
  font-size: 20px;
  font-weight: 700;
}
.units {
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 20px;
}
.weather {
  line-height: 2em;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 40px;
}
